<style>
@-webkit-keyframes wmstar {
    0% {
    	zoom: 0.1;
    	opacity: 0;
    	-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
    }
    50% {
    	zoom: 0.5;
    	opacity: 0.5;
    	-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
    }
    100% {
    	zoom: 1;
    	opacity: 1; 
    	-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
    }
}
.stars img {
	-webkit-animation: wmstar 4s linear 0s;
    animation: wmstar 3s linear 0s;
    max-width: 70px;
    margin-left: 5px;
	margin-right: 5px;
}
.stars img:nth-child(1), .stars img:nth-child(4) {
	margin-bottom: -19px;
}
.stars img:nth-child(2), .stars img:nth-child(3) {
	margin-bottom: 0px;
	max-width: 68px;
}
.stars {
	text-align: center;
}
</style>
<div class="wm">
	<div class="stars">
		<img src="images/wmstar.png">
		<img src="images/wmstar.png">
		<img src="images/wmstar.png">
		<img src="images/wmstar.png">
	</div>
</div>